ioc/src/main/resources/META-INF/spring-test.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        targetNamespace="http://www.juconcurrent.com/schema/user"
        xmlns:tns="http://www.juconcurrent.com/schema/user"
        elementFormDefault="qualified">
    <element name="user">
        <complexType>
            <attribute name="id" type="string"/>
            <attribute name="username" type="string"/>
            <attribute name="password" type="string"/>
        </complexType>
    </element>
</schema>